@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="controls">
		<div>WASD - Walk</div>
		<div>Spacebar - Jump</div>
		<div>@(Input.GetActions().FirstOrDefault(x => x.Name == "Run").KeyboardCode.ToUpper()) - Run</div>
		<div>@(Input.GetActions().FirstOrDefault(x => x.Name == "Duck").KeyboardCode.ToUpper()) - Crouch / Duck</div>
		<div>@(Input.GetActions().FirstOrDefault(x => x.Name == "Use").KeyboardCode.ToUpper()) - Interact / Pickup item</div>
		<div>@(Input.GetActions().FirstOrDefault(x => x.Name == "DropItem").KeyboardCode.ToUpper()) - Drop item</div>
		
		@if(getScore() > 0) {
			<div style="color: white;">Last score - @getScore()</div>
		}
	</div>

	<div class="press-to-start">Press ENTER to start.</div>
</root>

@code
{

	[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( MyStringValue );

	protected override void OnUpdate() {
		if (Input.Pressed("EnterLiteral")) {
			Scene.LoadFromFile("scenes/map_rayon.scene");
		}
	}

	private int getScore() {
		if (FileSystem.Data.FileExists("last-score.txt")) {
			return FileSystem.Data.ReadAllText("last-score.txt").ToInt();
		}

		return 0;
	}
}
